/.vs/
/out/
/MBPM_Builds/
/Game_20200630T190553.slp
/MyRawData
/MyRawData.hex
/CorrectRawData.hex
/CorrectRawData
/TestCom.json
/TestOut.slp
/Original.slp
/ReplayInt64.slp
/ReplayVariable.slp
/ClippiTest/
/DumpTest/
/FrameSkipTest.slp
/TestTest.slp
/combos.json
/MBPM_FileInfo
/MBSlippiResult.mp4